 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title> 
    <
    <style>
        h1{
            text-align: center;
            font-size: 50px;
        }
        
        p{
            text-align: justify;
            font-size: 25px;
        }
        body{
            font-family: Times New Roman ;
        }
    </style>   

</head>
<body>
    <h2>APP FEEDBACK FORM</h2>
    <p>please fill this form to so that you can get more information from us. thank you</p>
    <label for="fname">First name:</label>
    <br>
    <label for="fname">second name:</label>
    <br>
    <label for="Email">Email address:</label>
    

</body>
</html>