<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            font-size: 50px;
        }
        
        p{
            text-align: justify;
            font-size: 25px;
        }
        body{
            font-family: Times New Roman ;
        }
    </style>   
</head>

<body>
    <h2>THANK YOU </h2>
    <P> Dear User,
        
        Thank you so much for looking at our app! We super appreciate that you even took the time and hopefully found it informative and maybe enjoyable.
        
        Your feedback is very valuable to us since we want to keep getting better and growing as far as the user experience is concerned. If you have any comment, suggestion or question feel free to get in touch. We are here to hear from you and assist where possible.
        
        Once again, thank you for your support. We look forward to serving you better in the future.</p>
        
        
        
        
</body>
</html>